<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My page</title>
</head>
<body>
    <!-- Form for user input -->
    <form action="/login" method="post">
        <!-- Label for name input field -->
        <label>Name</label>
        <!-- Text input field for name -->
        <input type="text" placeholder="name" name='username'>
        <!-- Label for password input field -->
        <label>Password</label>
        <!-- Text input field for password -->
        <input type="text" placeholder="password" name='password'>
        <!-- Button to submit form -->
        <button type="submit">Ok</button>
    </form>
</body>
</html>
